<img src="/assets/gifProcessing.gif" value="triggering" class="loader-css" width="500" height="500" *ngIf="isGifVisible">
<div class="container" *ngIf="!isGifVisible">
  <div>
    <div class="col-sm-6" style="margin-top:184px;">

      <h1 class="ui-basic" style="margin-left:0px" width="100" height="100">BUILD TOOL
        <img src="/assets/BuildImage.jfif" class="img-fluid" width="200" height="200">
      </h1>
    </div>
    <div class="col-sm-6" style="margin-top:184px" *ngIf="isMachinePage">
      <div class="col-sm-4">
        <label for="usr" style="margin-top:15%">BuildMachine:</label>
        <input type="text" class="form-control" [(ngModel)]="triggerScriptRequest.host" style="width:280%;" id="usr">
        <label for="usr" style="margin-top:15%">Username:</label>
        <input type="text" class="form-control" [(ngModel)]="triggerScriptRequest.userName" style="width:280%" id="usr">
        <label for="usr" style="margin-top:15%">Password:</label>
        <input type="password" class="form-control" [(ngModel)]="triggerScriptRequest.password" style="width:280% ;" id="usr">

        <input type="submit" class="btn btn-primary btn-large f4 btn-block" style="width:174%;margin-top:15%;margin-left:55%" (click)="continue(triggerScriptRequest.host)"
          value="continue">
      </div>
    </div>


    <div class="col-sm-6" style="margin-top:184px" *ngIf="!isMachinePage">
      <div class="col-sm-6">
        <label class="col-sm-4 control-label">Release</label>
        <select class="form-control" [(ngModel)]="triggerScriptRequest.release" required>
          <option *ngFor="let release of releaseList" [ngValue]="release">{{release}}</option>
        </select>
      </div>
      <div class="col-sm-6">
        <label class="col-sm-4 control-label">Action</label>
        <select class="form-control" [(ngModel)]="triggerScriptRequest.action">
          <option *ngFor="let action of actionList" [ngValue]="action">{{action}}</option>
        </select>
      </div>
    </div>
    <div class="row" *ngIf="!isMachinePage">
      <div class="col-sm-6">
        <input type="submit" class="btn btn-primary btn-large f4 btn-block" style="width:40%;margin-top:5%;margin-left:55%" (click)="triggerScript(triggerScriptRequest)"
          value="Trigger Script">
      </div>
      <div class="col-sm-6">
        <input type="submit" class="btn btn-primary btn-large f4 btn-block" style="width:40%;margin-top:5%;margin-left:55%" (click)="getBack()"
          value="back">
      </div>
    </div>
  </div>
</div>